body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

.bg-orange {
  background-color: #ee8814
}

.navbar-brand {
  font-weight: 500;
}

.main-body {
  margin-top: 100px;
  margin-bottom: 60px;
}

.about-me-img img {
  height: 200px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 2px;
}

.about-me-title h1{
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 7px;
  margin-top: 40px;
  max-width: 300px;
}

.about-me-content {
  margin-top: 30px;
}

.about-me-content h2 {
  border-bottom: 1px solid #cfcfcf;
  max-width: 200px;
  padding-bottom: 7px;
}

.content-section {
  background-color:#ffffff;
  border: 1px solid #bebebe;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 50px;
}

.content-section:last-of-type {
  margin-bottom: 35px;
}

.add-item {
  float: right;
}

@media (min-width: 460px) {
  .float-right-md {
    float: right;
  }
}

@media (max-width: 459px) {
  .float-left-sm {
    float: none;
    margin-top: 10px;
  }
}

.cover-art {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 5px;
  width: 180px;
  object-fit: contain;
}

.content-title {
  border-bottom: 2px solid #cfcfcf;
  padding-bottom: 7px;
  width: 95%;
}

.content-section:hover .content-button {
  visibility: visible;
}

.data-title {
  font-weight: 500;
  margin-right: 5px;
}

.data-content {
  display: inline-block;
}

.content-completed,
.content-inprogress {
  font-size: smaller;
}

.content-completed {
  background-color: #01bb01;
  color: #ececec;
  font-weight: 500;
  padding: 1px 14px;
  border-radius: 7px;
}

.content-completed::after {
  color: #ececec;
  content: "\2713";
  margin-left: 2px;
}

.status-toggle.content-completed:hover {
  background-color: #019901;
  cursor: pointer;
}

.content-inprogress {
  background-color: #ff391f;
  color: #ececec;
  font-weight: 500;
  padding: 1px 14px;
  border-radius: 7px;
}

.content-inprogress::after {
  color: #ececec;
  content: "\2718";
  margin-left: 5px;
}

.status-toggle.content-inprogress:hover {
  background-color: #dd1a00;
  cursor: pointer;
}

.content-button {
  visibility: hidden;
  margin: 3px;
  float: right;
}

.page-selector {
  text-align: center;
}

.page-selector ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

.page-selector li {
  float: left;
}

.page-button {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  border-right: 1px solid #cfcfcf;
}

.page-button:last-of-type {
  border-right: none;
}

.page-button a {
  color: #0099ff;
}

.page-button a:hover {
  color: #ee8814;
}

.current-page a {
  color: #ee8814;
  font-weight: bold;
}

.btn-outline-orange {
  color: #000000;
  border-color: #000000;
}

.btn-outline-orange:hover {
  color: #ffffff;
  background-color:#ee8814;
}

.btn-orange {
  color: #000000;
  background-color:#ee8814;
  border-color: #000000
}

.btn-orange:hover {
  color: #ffffff;
  background-color: #e27b04;
}

.bg-r {
  background-color: red;
}