{% extends "souko/base.html" %}
{% load static %}

{% block content %}
  <div class="row">
    <div class="col-md-4 about-me-img">
      <img src="{% static 'souko/about_me_pic.jpg' %}" alt="About Me Picture">
    </div>
    <div class="col-md-8 about-me-title">
      <h1>About Me</h1>
      <h2>Jacob Cuke</h2>
    </div>
  </div>
  <div class="about-me-content ml-4">
    <p class="lead">
      Hello! My name is Jacob Cuke and I am an undergraduate in Computer Science at the University of Calgary, graduating in May of 2021. I focus mainly on web application development and database management.
    </p>
    <h2 class="mt-4">MySouko</h2>
    <p class="lead mt-3">
      Over the past 4 years I have taught myself Japanese to fluency, and have studied both Computer Science and Japanese culture at Senshu University in Tokyo. I was in the middle of an exchange program in Japan when the COVID-19 pandemic first hit in March 2020, forcing me to come back to Canada earlier than expected.
    </p>
    <p class="lead">
      In order to maintain and further improve my Japanese in the midst of the lockdown, I began consuming Japanese books and TV shows on a daily basis. In addition to being a hobby that I enjoy, it allowed me to reach a point where reading Japanese has become almost as effortless as reading English.
    </p>
    <p class="lead">
      MySouko, comes from the Japanese word 倉庫(souko) meaning storehouse or warehouse. This site was an attempt to combine my love of Japanese and web development, to create a platform where I could keep a record of all the Japanese media I have consumed since beginning this endeavour in March 2020.
    </p>
  </div>
{% endblock content %}