{% extends "souko/base.html" %}
{% load static %}

{% block title %}
- About
{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-md-4 about-me-img">
      <img src="{% static 'souko/about_me_pic.jpg' %}" alt="About Me Picture">
    </div>
    <div class="col-md-8 about-me-title">
      <h1>About Me</h1>
      <h2>Jacob Cuke</h2>
    </div>
  </div>
  <div class="about-me-content ml-4">
    <p class="lead">
      Hello! My name is Jacob Cuke and I am a graduate of Computer Science from the University of Calgary. I currently work as a full stack web developer, and hope to one day live and work in Japan.
    </p>
    <h2 class="mt-4">MySouko</h2>
    <p class="lead mt-3">
      Over the past 5 years I have taught myself Japanese to fluency, and have also studied both Computer Science and Japanese culture entirely in Japanese at Senshu University in Tokyo. I was in the middle of an exchange program in Japan when the COVID-19 pandemic first hit in March 2020, forcing me to come back to Canada earlier than expected.
    </p>
    <p class="lead">
      In order to maintain and further improve my Japanese in the midst of the lockdown, I began consuming Japanese books, TV shows and games in my spare time. In addition to being a hobby that I enjoy, this practice has allowed me to gain a deep understanding of the Japanese language, to the point where reading Japanese has become almost as effortless as reading English.
    </p>
    <p class="lead">
      MySouko, comes from the Japanese word 倉庫(souko) meaning storehouse or warehouse. This site was an attempt to combine my love of Japanese and web development, to create a platform where I could keep a record of all the Japanese media I have consumed since beginning this endeavour in March 2020.
    </p>
  </div>
{% endblock content %}