{% extends "souko/item_list.html" %}

{% block title %}
- Home
{% endblock title %}

{% block heading %}
  <div class="mb-4">
    <h1>Welcome to MySouko!</h1>
    <p class="mt-4 ml-2 lead">
      This is a website I built to keep track of all of the Japanese media that I consume. <br>
      For more information on how this site came about, check out the <a href="{% url 'souko-about' %}">About</a> page.<br>
      To create your own list head on over to the <a href="{% url 'register' %}">Register</a> page to get started! 
    </p>
    <p class="mt-4 ml-2 lead">
      Below is my list of all the books, TV shows and games that I've completed entirely in Japanese!
    </p>
  </div>
  <div class="user-list-title mb-4">
    <h1>JacobCuke's List ({{ page_obj.paginator.count }} item{{page_obj.paginator.count|pluralize}})</h1>
  </div>
{% endblock heading %}