{% extends "souko/base.html" %}

{% block content %}
  {% block heading %}{% endblock heading %}

  {% if page_obj.paginator.count > 0 %}
    <div class="page-selector">
      <ul>
        {% if page_obj.has_previous %}
          <li class="page-button"><a href="?page=1">&#x21E4</a></li>
          <li class="page-button"><a href="?page={{ page_obj.previous_page_number }}">&#x2190</a></li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <li class="page-button current-page"><a href="?page={{ num }}">{{ num }}</a></li>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="page-button"><a href="?page={{ num }}">{{ num }}</a></li>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <li class="page-button"><a href="?page={{ page_obj.next_page_number }}">&#x2192</a></li>
          <li class="page-button"><a href="?page={{ page_obj.paginator.num_pages }}">&#x21E5</a></li>
        {% endif %}
      </ul>
    </div>
  {% endif %}

  <div class="mb-3">
    {% block list_submenu %}{% endblock list_submenu %}
    {% if user.username == view.kwargs.username %}
      <a href="{% url 'item-create' %}" class="btn btn-primary add-item"><i class="fas fa-plus mr-2"></i>Add Item</a>
    {% endif %}
  </div>

  {% for item in items %}
  <article class="content-section">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <img class="cover-art" src="{{ item.cover_art.url }}" alt="cover_art">
      </div>
      <div class="col-lg-8 col-md-12 content-data pl-2 pt-3">
        <h2 class="content-title mb-3">{{ item.title }}</h2>
        <p>
          <span class="data-title">Series:</span>
          <span class="data-content">{{ item.series }}</span>
        </p>
        <p>
          <span class="data-title">Genre:</span>
          <span class="data-content">{{ item.get_genre_display }}</span>
        </p>
        <p>
          <span class="data-title">Status:</span>
          {% if item.completed %}
            {% if user == item.user %}
              <span class="status-toggle content-completed data-content" onclick="toggleCompleted(this)" data-pk="{{ item.pk }}">Completed</span>
            {% else %}
              <span class="content-completed data-content">Completed</span>
            {% endif %}
          {% else %}
            {% if user == item.user %}
              <span class="status-toggle content-inprogress data-content" onclick="toggleCompleted(this)" data-pk="{{ item.pk }}">In Progress</span>
            {% else %}
              <span class="content-inprogress data-content">In Progress</span>
            {% endif %}
          {% endif %}
        </p>
        <p>
          <span class="data-title">Date Started:</span>
          <span>{{ item.date_started|date:"Y/m/d" }}</span>
        </p>
        <p>
          <span class="data-title">Date Completed:</span>
          <span id="date_completed{{ item.pk }}">{{ item.date_completed|date:"Y/m/d" }}</span>
        </p>
        <p>
          {% if user == item.user %}
            <a href="{% url 'item-delete' item.pk %}" class="btn btn-danger content-button"><i class="fas fa-trash-alt mr-2"></i>Delete</a>
            <a href="{% url 'item-update' item.pk %}" class="btn btn-info content-button"><i class="fas fa-pencil-alt mr-2"></i>Edit</a>
          {% endif %}
        </p>
      </div>
    </div>
  </article>
  {% endfor %}

  {% if page_obj.paginator.count > 0 %}
    <div class="page-selector">
      <ul>
        {% if page_obj.has_previous %}
          <li class="page-button"><a href="?page=1">&#x21E4</a></li>
          <li class="page-button"><a href="?page={{ page_obj.previous_page_number }}">&#x2190</a></li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <li class="page-button current-page"><a href="?page={{ num }}">{{ num }}</a></li>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="page-button"><a href="?page={{ num }}">{{ num }}</a></li>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <li class="page-button"><a href="?page={{ page_obj.next_page_number }}">&#x2192</a></li>
          <li class="page-button"><a href="?page={{ page_obj.paginator.num_pages }}">&#x21E5</a></li>
        {% endif %}
      </ul>
    </div>
  {% endif %}

{% endblock content %}